#clock {
  position: relative;
  background-image: url(CLOCK.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25vw;
  width: 25vw;
  margin: auto;
}

#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  transform-origin: center bottom;
}
#hour {
  height: 31%;
  width: 2%;
  left: 49%;
  top: 19%;
  transform: rotate(45deg);
  border-radius: 25px;
}
#minute {
  height: 36%;
  width: 1.5%;
  left: 49%;
  top: 15%;
  opacity: 0.5;
  border-radius: 25px;
}
#second {
  height: 39%;
  width: 1%;
  left: 49%;
  top: 11%;
  opacity: 0.2;
  border-radius: 25px;
  transform: rotate(90deg);
}

body {
  background-color: black;
}
